html {
       overflow-y: scroll;
}
.container {
  max-width: 1200px;
  text-align: center;
  margin: 0px  auto;
 // background-color: red;
}

h1 {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 110px;
  letter-spacing: 0.1em;
  border-bottom: 15px solid #222;
  padding: 20px;
  margin: 20px;
  line-height: 1.25em;
}


@media only screen and (max-width: 768px) {
    h1 {
    font-size: 80px;
  }
}