html {
       overflow-y: scroll;
}
.container {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 110px;
  letter-spacing: 10px;
  border-bottom: 15px solid #222;
  padding-bottom: 20px;
}